
.outer_heading{
	text-align: center;
	background-color: #32A4AE;
	border: 5px outset grey;
	height: 150px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.inner_heading{
	text-align: center;
	background-color: #32A4AE;
	border: 2px solid white;
	width: 300px;
	height: 90px;
	margin: 0 auto;
	padding-bottom: 40px;
	color: white;
}

#Monotype{
	font-family: "Monotype Corsiva";
}

#circle{
	background: Tori-Anne.jpg;
	background-size: cover;
	border-radius: 50% 50% 50% 50%;
	width: 300px;
	height: 300px;
}
