
.body{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
		"header header" 
		"sidebar content";
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
	
 }

 
header{
	grid-area: header;
	background-color: #32A4AE;
	border: 5px outset grey;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
}


.inner_heading{
	border: 2px solid white;
	border-radius: 35px;
	text-align: center;
	color: white;
	width: 350px;
}


#Monotype{
	font-family: "Monotype Corsiva";
}


#circle{
	background: Tori-Anne.jpg;
	background-size: cover;
	border-radius: 50% 50% 50% 50%;
	width: 200px;
	height: 220px;
}
	

.circle_container{
	display: flex;	
	justify-content: center;
}


aside{
	grid-area: sidebar;
	border: 5px solid #32A4AE;
	border-radius: 10px;
	background-color: WhiteSmoke;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 300px;
}


main{
	grid-area: content;
	padding-left: 20px;	
	padding-right: 20px;
}


.qualifications{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	

.details{
	display: flex;
	flex-direction: column;
	width: 750px;
}